.PokeballPixel {
  background-color: transparent;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.PokeballPixel img {
  height: auto;
  position: absolute;
  top: 72px;
  left: 0;
  width: 100%;
  opacity: .66;
  z-index: 0;
}