.Pokemon {
  background-color: #bdbdbd;
  margin: 1rem auto !important;
  height: 200px;
  width: 172px;
  border-radius: 3px;
  display: inline-flex;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  transition: all .33s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Pokemon img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  border-radius: 3px;
  border: 1px solid rgba(23, 23, 23, .5);
  height: 160px;
  width: 160px;
  margin: 6px;
  background-color: rgb(245, 245, 245);
}

.Pokemon p {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1rem;
  padding: 10px;
  height: 2.5rem;
  margin: 0 auto;
}

.Pokemon>p::after {
  display: none;
}

.Pokemon:hover {
  transform: scale(1.05);
  background-color: #9e9e9e;
  z-index: 99;
}

.Pokemon:active {
  background-color: darkslategray;
  color: whitesmoke;
}

.Pokemon>div {
  padding: 6px !important;
}