.Pokemons {
  width: 83.333%;
  margin: 0 auto;
  display: flex;
  margin-top: 5rem;
  min-height: 26.8rem;
}

.Pokemons  > ul {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

.Error {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
  width: calc(50% + 75px);
  margin: 0 auto;
  height: 13rem;
  padding: 16px;
  border: 2px solid rgb(245, 245, 245);
  border-radius: 3px;
  background-color: rgb(234, 75, 67);
  z-index: 99;
}

.Error p {
  font-size: 1.75rem;
}