.Search {
  margin: 0 auto;
  width: 280px !important;
  height: 100%;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .33s;
}

.Search input {
  padding: 0;
  margin: 8px 0 0 !important;
  font-size: 1rem !important;
  height: 3rem;
  border-bottom: 1px solid rgb(54, 54, 54) !important;
  z-index: 90;
}

.Search input:focus {
  padding: 0;
  border-bottom: 1px solid rgb(54, 54, 54) !important;
  box-shadow: 0 1px 0 0 rgba(54, 54, 54, .5) !important;
}

.Search label {
  margin: 22px 0  0 !important;
  vertical-align: middle;
  z-index: 10;
}

.Search span {
  display: flex;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  margin: 0 0 0 -16px;
  cursor: pointer;
  opacity: .5;
  align-items: center;
  bottom: 0;
  z-index: 90;
}

.Search span:hover {
  color: rgb(23, 23, 23);
  opacity: 1;
}