* {
  margin: 0;
  padding: 0;
}

.Pokedex {
  width: 360px;
  margin: auto;
}

.Left {
  width: 360px;
  height: 500px;
  left: 0;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.curve1_left {
  width: 212px;
  height: 85px;
  background-color: #8b0000;
  padding: 15px 0 0 15px;
  position: absolute;
  top: 0;
  margin-left: 0;
  box-shadow: 0 0 #5e0000;
  border-bottom-right-radius: 75px 60px;
  border-top-left-radius: 30px;
}

.bgCurve1_left {
  width: 360px;
  height: 80px;
  background-color: #8b0000;
  box-shadow: -10px 9px #5e0000;
  border-top-left-radius: 30px;
}

.curve2_left {
  width: 252px;
  height: 451px;
  background-color: #c00d0d;
  position: absolute;
  bottom: 0;
  left: calc(50% - 72px);
  border-top-left-radius: 105px 60px;
}

.bgCurve2_left {
  width: 360px;
  height: 420px;
  background-color: #c00d0d;
  box-shadow: -10px 9px #5e0000;
  border-bottom-left-radius: 30px;
}

.btnGlass {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border: 5px solid #fff;
  float: left;
  box-shadow: 0 0 10px #490000;
  background: radial-gradient(#05fbfb, #29abe3);
  border-radius: 35px;
}

.reflect {
  width: 18px;
  height: 13px;
  margin: 4px 0 0 15px;
  background: #fff;
  opacity: 0.6;
  border-radius: 15px 9px;
}

.miniBtnGlass1 {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  float: left;
  box-shadow: 0 0 10px #490000;
  border-radius: 20px;
  background: radial-gradient(#fb7b7b, #fb0505);
}

.miniBtnGlass2 {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  float: left;
  box-shadow: 0 0 10px #490000;
  border-radius: 20px;
  background: radial-gradient(#fbfb9b, #fbfb05);
}

.miniBtnGlass3 {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  float: left;
  box-shadow: 0 0 10px #490000;
  border-radius: 20px;
  background: radial-gradient(#b0fb7b, #50fb05);
}

.Junction {
  width: 50px;
  height: 451px;
  float: right;
  background: linear-gradient(to left, #8b0000 0%, #c00d0d 50%, #8b0000 100%);
}

.Junction1 {
  height: 40px;
  background-color: #5e0000;
  opacity: 0.3;
  margin-top: 50px;
  margin-bottom: 262px;
  border-top: 2px solid #330000;
  border-bottom: 2px solid #330000;
}

.Junction2 {
  height: 40px;
  background-color: #5e0000;
  opacity: 0.3;
  border-top: 2px solid #330000;
  border-bottom: 2px solid #330000;
}

.Screen {
  height: 205px;
  width: 250px;
  padding: 0 20px;
  background-color: #b0b0b0;
  float: left;
  position: absolute;
  top: 95px;
  left: calc(50% - 150px);
  border-radius: 15px;
}

.Screen:after {
  content: "";
  border-top: 30px solid #b0b0b0;
  border-left: 30px solid #c00d0d;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.Img {
  height: 135px;
  width: 214px;
  margin-top: 20px;
  margin-bottom: 9px;
  background: url(../../assets/img/pokeballBlur.png) no-repeat #fff;
  background-size: 110px 110px;
  background-position: 50% 50%;
  border: 3px solid #494949;
  clear: both;
  border-radius: 15px;
}

.Img img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.TopImg {
  margin: 6px auto;
  width: 40px;
}

.btnTopImg1,
.btnTopImg2 {
  height: 8px;
  width: 8px;
  background-color: #c00d0d;
  border: 1px solid #000;
  float: left;
  border-radius: 15px;
}

.btnTopImg1 {
  margin-right: 20px;
}

.btnBottomImg {
  height: 26px;
  width: 26px;
  background-color: #c00d0d;
  margin-left: 35px;
  float: left;
  border-radius: 30px;
  box-shadow: -2px 1px #5e0000;
  background: linear-gradient(to top, #c00d0d 0%, #8b0000 80%);
}

.Speakers {
  float: right;
  width: 75px;
  height: 25px;
  margin-right: 20px;
}

div.sp {
  height: 3px;
  margin-bottom: 5px;
  background-color: #494949;
  border-radius: 30px;
}

.Right:not(.Stats, .yellowBox1),
.bigBlueBtn,
.barBtn1,
.barBtn2,
.Cross {
  display: none;
}

@media (min-width: 600px) {
  .Pokedex {
    width: 750px;
    margin: auto;
  }

  .Left {
    width: 400px;
    height: 500px;
    float: left;
  }

  .Right {
    width: 350px;
    height: 500px;
    float: right;
    position: relative;
  }



  /* //// LEFT PART //// */
  
  .curve1_left {
    width: 212px;
  }
  
  .bgCurve1_left {
    width: 400px;
  }
  
  .curve2_left {
    float: right;
    right: 0;
    left: auto;
  }
  
  .bgCurve2_left {
    width: 400px;
  }

  .Junction {
    width: 60px;
  }

  .Screen {
    height: 245px;
    width: 290px;
    top: 130px;
    left: 23px;
  }

  .Screen:after {
    border-top: 40px solid #b0b0b0;
    border-left: 40px solid #c00d0d;
  }

  .Img {
    height: 175px;
    width: 254px;
    background-size: 150px 150px;
  }

  .TopImg {
    margin: 6px auto;
    width: 40px;
  }

  .btnTopImg1,
  .btnTopImg2 {
    height: 8px;
    width: 8px;
    background-color: #c00d0d;
    border: 1px solid #000;
    float: left;
    border-radius: 15px;
  }

  .btnTopImg1 {
    margin-right: 20px;
  }

  .btnBottomImg {
    height: 26px;
    width: 26px;
    background-color: #c00d0d;
    margin-left: 35px;
    float: left;
    border-radius: 30px;
    box-shadow: -2px 1px #5e0000;
    background: linear-gradient(to top, #c00d0d 0%, #8b0000 80%);
  }

  .Speakers {
    float: right;
    width: 75px;
    height: 25px;
    margin-right: 20px;
  }

  div.sp {
    height: 3px;
    margin-bottom: 5px;
    background-color: #494949;
    border-radius: 30px;
  }

  .bigBlueBtn {
    height: 50px;
    width: 50px;
    background-color: #000;
    position: absolute;
    top: 395px;
    left: 30px;
    border-radius: 100px;
    background: linear-gradient(to top, #307bfb 0%, #0530e5 80%);
    box-shadow: -3px 2px #001c91;
  }

  .barBtn1 {
    height: 13px;
    width: 50px;
    position: absolute;
    top: 405px;
    left: 100px;
    border-radius: 100px;
    background: linear-gradient(to top, #50fb05 0%, #057b05 100%);
    box-shadow: -1px 2px #004200;
  }

  .barBtn2 {
    height: 13px;
    width: 50px;
    position: absolute;
    top: 405px;
    left: 165px;
    border-radius: 100px;
    background: linear-gradient(to top, #fb6505 0%, #bb0505 100%);
    box-shadow: -1px 2px #7b0000;
  }

  .Cross {
    width: 90px;
    height: 90px;

    position: absolute;
    top: 394px;
    left: 230px;
  }

  .topCross {
    width: 30px;
    height: 30px;
    background-color: #222;
    position: absolute;
    top: 0;
    left: 30px;
    box-shadow: -3px 2px #010101;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .leftCross {
    width: 30px;
    height: 30px;
    background-color: #222;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 30px;
    box-shadow: -3px 2px #010101;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .midCross {
    width: 30px;
    height: 30px;
    background-color: #222;
    position: absolute;
    top: 30px;
    left: 30px;
    box-shadow: -3px 2px #010101;
  }

  .rightCross {
    width: 30px;
    height: 30px;
    background-color: #222;
    position: absolute;
    top: 30px;
    right: 0;
    box-shadow: -3px 2px #010101;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .bottomCross {
    width: 30px;
    height: 30px;
    background-color: #222;
    position: absolute;
    bottom: 0;
    left: 30px;
    box-shadow: -3px 2px #010101;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .upT {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #111;
    position: absolute;
    top: 5px;
    left: 4px;
  }

  .downT {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    position: absolute;
    bottom: 5px;
    left: 4px;
  }

  .leftT {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #111;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 5px;
    left: 4px;
  }

  .rightT {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #111;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .midCircle {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: 4px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    background: radial-gradient(#111, #222);
  }



  /* //// RIGHT PART //// */

  .curve1_right {
    width: 196px;
    height: 451px;
    background-color: #c00d0d;
    float: right;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-right-radius: 105px 60px;

  }


  .bgCurve1_right {
    width: 350px;
    height: 80px;
    background-color: transparent;
    border-top-right-radius: 30px;
  }

  .curve2_right {
    width: 216px;
    height: 100px;
    background-color: transparent;
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 85px 60px;
  }

  .bgCurve2_right {
    width: 350px;
    height: 420px;
    background-color: #c00d0d;
    border-bottom-right-radius: 30px;
    border-top: 2px solid #2222226a;
    border-right: 1px solid #2222223a;
    box-shadow: -10px 9px #5e0000;
  }

  .blueBtns1 {
    z-index: 1;
    position: absolute;
    top: 295px;
    left: 49px;
  }

  .blueBtns2 {
    z-index: 1;
    position: absolute;
    top: 335px;
    left: 49px;
  }

  div.blueBtn {
    height: 35px;
    width: 45px;
    background-color: #003300;
    float: left;
    margin-right: 7px;
    border-radius: 10px;
    background: linear-gradient(to top, #307bfb 0%, #0530e5 80%);
    box-shadow: -1px 2px #001c91;
  }

  .barBtn3 {
    height: 13px;
    width: 50px;
    z-index: 1;
    position: absolute;
    top: 385px;
    left: 210px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    background: linear-gradient(to top, #50fb05 0%, #057b05 100%);
    box-shadow: -1px 2px #004200;
  }

  .barBtn4 {
    height: 13px;
    width: 50px;
    z-index: 1;
    position: absolute;
    top: 385px;
    left: 270px;
    border-radius: 100px;
    background: linear-gradient(to top, #fb6505 0%, #bb0505 100%);
    box-shadow: -1px 2px #7b0000;
  }

  .miniBtnGlass4 {
    width: 15px;
    height: 15px;
    float: left;
    z-index: 1;
    position: absolute;
    top: 383px;
    left: 25px;
    box-shadow: 0 0 10px #490000;
    border-radius: 20px;
    background: radial-gradient(#ff9b5b, #fb6505);
  }

  .miniBtnGlass5 {
    width: 15px;
    height: 15px;
    float: left;
    z-index: 1;
    position: absolute;
    top: 383px;
    left: 51px;
    box-shadow: 0 0 10px #490000;
    border-radius: 20px;
    background: radial-gradient(#0abd0a, #057b05);
  }
}

/* @media handheld and (orientation:portrait),
(max-width:768px) {

  

} */